html{
    color: rgb(255, 255, 255)  !important;
    font-size: 1.1em  !important;

}

body{
    color: rgb(173, 213, 231)  !important;
}

strong{
    color: rgb(118, 201, 240)  !important;
}

.nav-link{
    color: rgb(173, 213, 231)  !important;
}

a {
    color: rgb(177, 220, 240)  !important;
}


a:hover{
    color: rgb(103, 207, 255)  !important;
}

.mar-r-0 {
   margin-right: 0px !important;
}


.header-baseCol{
    color: rgb(255, 255, 255)  !important;
}


.gradient-custom {
    background: rgb(14, 54, 107);
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(22, 60, 85), rgb(19, 7, 32));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(14, 54, 107), rgb(19, 7, 32));
  }

.divider{
    margin-top: 5px;
    height: 1px;
    width: 100%;
    background-color: aliceblue;
}

.divider_s{
    height: 1px;
    width: 90%;
    background-color: aliceblue;
    opacity: 0.3;
}

.vert{
    height: 200px;
    width: 1px;
    background-color: aliceblue;
}



header{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.w-45{
    width:  45%;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.pad-l-10px{
    padding-left: 10px;
}

.pad-t-10px{
    padding-top: 10px;
}

.mar-t--50px{
    margin-top: -50px !important;
}

.space{
    padding-left: 10px;
}

.pad-l-10{
    padding-left: 10%;
}

.pad-r-10{
    padding-right: 10%;
}


.pad-b--50px{
    margin-bottom: -50px !important; 
}

.borderImage{
    border-radius: 40px;
}

 .social{
    padding-top: 10px;
    padding-bottom: 10px;
 }



/* ------- SKILLS ------- */
.Skils{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 10%;
 }

 .left_skills{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .right_skills{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .flexcontainer-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
 }

.header-container {
  display: flex;
  align-items: center; /* vertically center items */
  gap: 20px; /* space between contact & navbar */
}

.contact-cv p {
  padding-left: 20px;
}

.outer-center {
  display: flex;
  justify-content: center;
}

.horizontal-scroll-container {
  display: flex;  
                 /* lay out children horizontally */
  gap: 20px;                     /* space between project cards */
  overflow-x: auto;              /* horizontal scrolling */
 
  padding: 20px;
}

.project-card {
  flex: 0 0 auto;               /* allow width to be flexible up to max-width */
  max-width: 400px;             /* maximum width of the card */
  width: 100%;                  /* card can shrink if container is smaller */
  scroll-snap-align: start;     /* aligns card to start of scroll */
  background: #04051f42;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 15px;
}


.project-card-title {
    position: relative !important; 
    height: 150px;
    
    display: flex;
    flex-direction: column;
}

.project-link {
    position: relative !important; 
    display: flex !important;       /* Changed to flex */
    justify-content: center !important; /* Horizontally centers the logo */
    top: -10px !important;  
    width: 100%;
}

.game-logo {
    position: relative !important; 
    top: 10px !important; 
    max-width: 80%;
    max-height: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.game-logo-magicalharvest {
    position: relative !important; 
    top: -10px;
    max-width: 90%;
    max-height: 130px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* 3. Force the steam logo to the top right */
.steam-logo {
    position: absolute !important;
    top: 0px !important;    /* Distance from top of the link */
    right: -10px !important;  /* Distance from right of the link */
    width: 40px !important; 
    height: 40px !important;
    z-index: 99 !important;  /* High number to stay on top */
    pointer-events: none;    /* Allows clicks to pass through to the link below */
     
}

.project-meta {
     position: relative !important; 
     top: -20px !important; 
}

.project-type {
    position: relative !important;
    top: -5px !important;
    margin-bottom: -10px !important;
}

.project-features {
    list-style-type: disc; /* Or 'none' if you prefer no bullets */
    padding-left: 20px;
}

.project-features li {
    margin-top: 10px;
}

/* Optional: Removes the margin from the very first item so it aligns with the header */
.project-features li:first-child {
    margin-top: 0;
}